
/* Melissa - escuta */

/* --- Estilos Base e Tipografia --- */
:root {
    --cor-azul-principal: #12429c; /* Azul Geral */
    --cor-cta-azul: #5ca0c7; /* Botão "Preciso de Apoio" */
    --cor-cta-verde: #00b0a1; /* Botão "Quero Ajudar" e ícones verdes */
    --cor-texto-escuro: #333;
    --cor-texto-claro: #555;
    --cor-fundo-claro: #f8f9fa;
    --cor-branco: #fff;
    --cor-borda-clara: #ddd;
    --cor-menu-fundo: #d3f1f5;
    --sombra-card: 0 10px 30px rgba(16,24,40,0.06);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cor-fundo-claro);
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto-escuro);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Centraliza apenas o conteúdo principal */
main {
    max-width: 1100px;
    margin: 40px auto; /* Centraliza horizontalmente */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.navbar {
    display: flex;
    justify-content: center; /* Centraliza o menu */
    align-items: center;
    position: sticky;
    top: 0;
    padding: 15px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid var(--cor-borda-clara);
    gap: 40px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-azul-principal);
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar nav ul li a {
    text-decoration: none;
    color: var(--cor-texto-escuro);
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 55px;
    background-color: var(--cor-menu-fundo);
    transition: all 0.3s;
}

.navbar nav ul li a:hover {
    background-color: var(--cor-cta-verde);
    color: var(--cor-branco);
}

.frase-impacto {
    background-color: #e3f2fd;
    text-align: center;
    padding: 50px 20px;
}

.frase-impacto h1 {
    font-size: 1.8rem;
    color: #410b24;
    font-weight: 600;
}

.video-escuta {
    text-align: center;
    padding: 40px 20px;
}

.video-container iframe {
    border-radius: 10px;
    max-width: 100%;
}

.galeria {
    padding: 40px 20px;
    text-align: center;

}

.imagens-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
        
}

.imagens-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*--button voltar ao inicio--*/
.cta-button-blue1 {
    display: inline-block;
    background-color: #0d6d65;
    color: var(--cor-branco);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
